<h2>Páginas da loja</h2>

<div class="row">
    {% if pages.custom|length > 0 %}
    <div class="col-sm-3">
        <h5>Páginas Institucionais</h5>
        <ul class="list-unstyled">
            {% for custom in pages.custom %}
            <li><a href="{{ custom.url }}">{{ custom.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="col-sm-3">
        <h5>Contato</h5>
        {{ _view.element('snippets/contact_links') }}
    </div>
</div>

<h2>Categorias</h2>

<div class="row">
    {% for category in categories %}
    <div class="col-sm-3">
        <h5><a href="{{ category.link }}">{{ category.name }}</a></h5>
        {% if category.children|length > 0 %}
        <ul class="list-unstyled">
            {% for children in category.children %}
            <li><a href="{{ children.link }}">{{ children.name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
</div>